body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #eddfb3;
}

#container {
  display: grid;
  width: 900px;
  grid-gap: 20px;
  grid-template-columns: 150px 200px;
  grid-template-rows: 150px 200px;
  grid-auto-rows: 40px 80px;
  grid-auto-columns: 20px;
  margin: 40px;
  margin-left: 80px;
}

.item {
  background-color: #76ba99;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
